* {
    color: white !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-fluid {
    max-width: 80% !important;
}

.card {
    background-color: rgba(0, 0, 0, 0.15) !important;
    -webkit-box-shadow: 0px 1px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px 2px rgba(0,0,0,0.75);
}

.icon-navbar {
    width: 30px;
    height: 30px;
    margin-left: 8px;
    margin-right: 8px;
    transition: filter .3s ease-out;
}

.icon-navbar:hover {
    filter: invert(100%);
    transition: filter .3s ease-in;
}

.navbar-dark {
    background-color: rgb(36, 40, 44);
    -webkit-box-shadow: 0px 1px 15px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 15px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 15px 2px rgba(0,0,0,0.75);
}

.active {
    opacity: .5;
}

.active:hover {
    filter: invert(0%) !important;
}

.d-inline-block {
    display: inline-block;
}

.my-col {
    flex: auto !important;
    width: auto !important;
    min-width: 25% !important;
    max-width: 100% !important;
    padding: 1rem;
}

.img-thumbnail {
    background-color: rgba(0,0,0,0);
    border: 0px;
    padding: 0px;
    max-width: 100%;
    max-height: 300px;
    backface-visibility: hidden;
}

.img-container:hover .img-expand {
    opacity: .6;
    transition: opacity ease .4s;
}

.magnifier {
    opacity: 0;
    background-image: url(/public/img/icons/magnifier.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity ease .4s;
}

.img-container:hover .magnifier {
    opacity: .5;
    transition: opacity ease .4s;
}

.img-expand {
    transition: opacity ease .4s;
}

.img-expand:hover, .img-container:hover {
    cursor: pointer;
    opacity: .5;
    transition: opacity ease .4s;
}

@media (max-width: 1000px) {
    .container-fluid {
        max-width: 100% !important;
    }
}