.out-enter-active, .out-leave-active {
    transition: all .5s;
}

.out-enter, .out-leave-to {
    opacity: 0;
    filter: blur(8px);
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    backdrop-filter: blur(8px);
    overflow-y: auto;
    overflow-x: hidden !important;
}

.modalImage {
    height: auto;
    max-height: 85vh;
    width: auto;
    max-width: 100%;
    transition: all;
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.63);
    -moz-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.63);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.63);
}

.my-modal-header {
    max-height: 40px;
}

.icon-modal {
    width: 32px;
    height: 32px;
    transition: filter .2s ease-in;
}

.icon-modal:hover {
    cursor: pointer;
    filter: opacity(0.6) drop-shadow(0 0 0 rgb(0, 47, 255));
    transition: filter .2s ease-out;
}